/* На будущее для стайлгайда
:hover — наведение мыши;
:active — клик (мышью или с клавиатуры);
:visited — посещённая ссылка;*/

/* Variables */
:root {
  --basic-white: #FFFFFF;
  --basic-red: #FB565A;
  --basic-middle-red: #E74246;
  --basic-extra-red: #D7373B;
  --basic-green: #00CA74;
  --basic-middle-green: #00BC6C;
  --basic-extra-green: #00AA62;
  --basic-yellow: #EFC849;
  --basic-middle-yellow: #EAB534;
  --basic-extra-yellow: #E5A722;
  --basic-grey: #EEEEEE;
  --basic-middle-grey: #DFDFDF;
  --basic-extra-grey: #D5D5D5;
  --basic-black: #000000;

  --small-text: #283136;
}


@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  /* Браузер сначала попробует найти шрифт локально */
  src: local("Roboto"),
       /* Если не получилось, загрузит woff2 */
       url("/fonts/roboto.woff2") format("woff2"),
       /* Если браузер не поддерживает woff2, загрузит woff */
       url("/fonts/roboto.woff") format("woff");
}

@font-face {
  font-family: "Roboto Bold"; /* указали насыщенность прямо в семействе */
  font-weight: 700;
  font-style: normal;
  src: local("Roboto Bold"),
       url("robotobold.woff2") format("woff2"),
       url("robotobold.woff") format("woff");
}

@font-face {
  font-family: "Roboto Medium"; /* указали насыщенность прямо в семействе */
  font-weight: 500;
  font-style: medium;
  src: local("Roboto Medium"),
       url("robotomedium.woff2") format("woff2"),
       url("robotobmedium.woff") format("woff");
}
@font-face { /*  italic bold */
  font-family: "Roboto";
  font-weight: 700;
  font-style: italic;
 /* Браузер сначала попробует найти шрифт локально */
  src: local("Roboto"),
       url("/fonts/roboto.woff2") format("woff2"),
       /* Если браузер не поддерживает woff2, загрузит woff */
       url("/fonts/roboto.woff") format("woff");
}

/* ТОЛЬКО ОДИН ЭКРАН ПРОКРУТКИ
Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
/* Styles */
}


body {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
  background-color: var(--basic-white);
}


/* Main navigation */

.main-navigation {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: var(--basic-black);
  text-transform: uppercase;
}

.site-navigation
{
  list-style: none;
}

/*  :hover — наведение мыши;
:active — клик (мышью или с клавиатуры);
:visited — посещённая ссылка;*/

.site-navigation a:hover
{
color: var(--basic-red);
}

.site-navigation a:active
{
color: var(--basic-black);
opacity: 0.3;
}

.site-navigation a:focus
{
color: var(--basic-black);
}

.button {
  font-size: 16px;
  font: inherit;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-red);
  border: 3px;
}

/* Red buttons */
.button-red:hover
{
color: var(--basic-red);
}

.button-red:active
{
color: var(--basic-middle-red);
opacity: 0.3;
}

.button-red:focus
{
color: var(--basic-extra-red);
}


/* Features */

.feature {
  list-style: none;
}

.feature-item {
  text-align: center;
}

.feature-item h3 {
  font-size: 24px;
  line-height: 30px;
}


.title /* создаём жирный заголовок */
{
  font-weight: 700;
}

h1 {
	font-family: 'Roboto Bold', sans-serif;
}
p, i {
	font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.capital  /* Заглавные буквы */
{
text-transform: uppercase;
}

/* Спрятанные заголовки h1 и h2 */
.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	border: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
  }


a[href^="tel:"]
{
  font-size: 16px;
  line-height: 32px;
  text-decoration: none;
  color: #000000; }
