/* На будущее для стайлгайда
:hover — наведение мыши;
:active — клик (мышью или с клавиатуры);
:visited — посещённая ссылка;*/

/* Variables */
:root {
  --basic-white: #FFFFFF;
  --basic-red: #FB565A;
  --basic-middle-red: #E74246;
  --basic-extra-red: #D7373B;
  --basic-green: #00CA74;
  --basic-middle-green: #00BC6C;
  --basic-extra-green: #00AA62;
  --basic-yellow: #EFC849;
  --basic-middle-yellow: #EAB534;
  --basic-extra-yellow: #E5A722;
  --basic-grey: #EEEEEE;
  --basic-middle-grey: #DFDFDF;
  --basic-extra-grey: #D5D5D5;
  --basic-black: #000000;

  --small-text: #283136;
}


@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  /* Браузер сначала попробует найти шрифт локально */
  src: local("Roboto"),
       /* Если не получилось, загрузит woff2 */
       url("/fonts/roboto.woff2") format("woff2"),
       /* Если браузер не поддерживает woff2, загрузит woff */
       url("/fonts/roboto.woff") format("woff");
}

@font-face {
  font-family: "Roboto Bold"; /* указали насыщенность прямо в семействе */
  font-weight: 700;
  font-style: normal;
  src: local("Roboto Bold"),
       url("robotobold.woff2") format("woff2"),
       url("robotobold.woff") format("woff");
}

@font-face {
  font-family: "Roboto Medium"; /* указали насыщенность прямо в семействе */
  font-weight: 500;
  font-style: medium;
  src: local("Roboto Medium"),
       url("robotomedium.woff2") format("woff2"),
       url("robotobmedium.woff") format("woff");
}
@font-face { /*  italic bold */
  font-family: "Roboto";
  font-weight: 700;
  font-style: italic;
 /* Браузер сначала попробует найти шрифт локально */
  src: local("Roboto"),
       url("/fonts/roboto.woff2") format("woff2"),
       /* Если браузер не поддерживает woff2, загрузит woff */
       url("/fonts/roboto.woff") format("woff");
}

/* ТОЛЬКО ОДИН ЭКРАН ПРОКРУТКИ
Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
/* Styles */
}


body {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.logo-link {
	display: inline-block;
	width: 160px;
	height: 65px;
}

.logo-link:hover { /* :hover — наведение мыши */
opacity: 0.7;
}

.logo-link:active { /* :active — клик (мышью или с клавиатуры) */
opacity: 0.3;
}

.logo-link img {
	width: 100%;
	height: auto;
}

.style-none {  /* ---------- Обнуление стилей  ---------- */
  list-style: none;
  /* font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-red);
  border: 3px; */
}

.site-navigation-list {
	margin-left: -40px;
}

.site-navigation-item:not(:last-child) {
	margin-right: 47px;
}

.site-navigation-item a,
.user-navigation-item a {
	position: relative;
	display: inline-block;
	font-weight: 500;
	line-height: 30px;
	color: var(--basic-black);
	text-decoration: none;
	text-transform: uppercase;
}

.site-navigation-item a:hover,
.user-navigation-item a:hover {
  color: var(--basic-red);
}

.site-navigation-item a:active,
.user-navigation-item a:active
{
	color: rgba(0, 0, 0, 0.3);
}

/* ------- Main navigation ----------*/

.main-navigation {
  line-height: 30px;
  font-weight: 500;
  color: var(--basic-black);
  text-transform: uppercase;
}

.site-navigation a:hover /* --------- Кнопки навигации и Корзина  ---------- */
{
color: var(--basic-black);
}

.site-navigation a:active /*:active — клик (мышью или с клавиатуры) */
{
background-color: var(--basic-black);
opacity: 0.3;
}

.site-navigation a:focus
{
color: var(--basic-black);
}

/* --------- Buttons GENERAL --------- */
/*  :hover — наведение мыши;
:active — клик (мышью или с клавиатуры);
:visited — посещённая ссылка;*/
.button {
  font-size: 16px;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-red);
  border: 3px;
}

.button:hover /* :hover — наведение мыши */
{
background-color: var(--basic-middle-red);
}

.button:active /*:active — клик (мышью или с клавиатуры) */
{
background-color: var(--basic-extra-red);
border: 1px solid var(--basic-black);
box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
color: rgba(255, 255, 255, 0.3);
border-radius: 3px;
}

/*  ---------- Red button "УЗНАТЬ БОЛЬШЕ"  ---------- */
.button-know-more {
  width: 240px;
  height: 50px;
  left: 176px;
  top: 399px;
  }

  .write-us
  {
    width: 219px;
    height: 50px;
    top: 265px;
    left: 190px;
    }

  .popup-send
  {
   width: 259px;
   left: 341px;
   top: 2161px;
   height: 50px;
  }

  .button-red,
  .button-green,
  .button-yellow {
    width: 160px;
    height: 50px;
    left: 940px;
    top: 922px;
  }

/*  ---------- GREEN button  ---------- */
.button-green {
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-green);
  }

.button-green:hover /* :hover — наведение мыши */
{
background-color: var(--basic-middle-green);
}

/* .button-green:focus
{
background-color: var(--basic-extra-green); */

.button-green:active /*:active — клик (мышью или с клавиатуры) */
{
background: var(--basic-extra-green);
border: 1px solid #000000;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
color: rgba(255, 255, 255, 0.3);
border-radius: 3px;
}


/*  ---------- Yellow buttons  ---------- */
.button-yellow {
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-yellow);
  }

.button-yellow:hover /* :hover — наведение мыши */
{
background-color: var(--basic-middle-yellow);
}

/* .button-yellow:focus
{
background-color: var(--basic-extra-yellow);
} */

.button-yellow:active /*:active — клик (мышью или с клавиатуры) */
{
background: var(--basic-extra-yellow);
border: 1px solid #000000;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
color: rgba(255, 255, 255, 0.3);
border-radius: 3px;
}

.opacity-text:active { /*:active — клик (мышью или с клавиатуры) НЕ ИСПОЛЬЗУЕТСЯ */
opacity: 0.3;
}

/*  ---------- CATALOG PAGES  ---------- */
/*  ---------- Catalog page - 9900 РУБ buttons  ---------- */
.catalog-button {
width: 200px;
height: 50px;
left: 620px;
top: 1014px;
border-radius: 3px;
}
.catalog-button:hover /* :hover — наведение мыши */
{
background-color: var(--basic-middle-red);
}

.catalog-button:active /*:active — клик (мышью или с клавиатуры) */
{
color: var(--basic-white);
background-color: var(--basic-extra-red);
box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
border-radius: 3px;
}

/* .button-yellow:active  ОБРАЗЕЦ
background: var(--basic-extra-yellow);
border: 1px solid #000000;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
color: rgba(255, 255, 255, 0.3);
border-radius: 3px; */

/*  ---------- Catalog page - ПОКАЗАТЬ button  ---------- */
.catalog-show{
color: var(--basic-black);
background-color: var(--basic-grey);
width: 260px;
height: 50px;
left: 253px;
top: 1986px;
border-radius: 3px;
}
.catalog-show:hover /* :hover — наведение мыши */
{
background-color: var(--basic-middle-grey);
}

.catalog-show:active /*:active — клик (мышью или с клавиатуры) */
{
color: var(--basic-black);
background-color: var(--basic-extra-grey);
box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
border-radius: 3px;
}

/*  ---------- ЛОГОТИПЫ ПАРТНЕРОВ НА INDEX PAGE  ---------- */
.academy-link
{
  opacity: 0.2;
}

.academy-link:hover /* :hover — наведение мыши */
  {
    opacity: 100%;
  }

  .academy-link:active /*:active — клик (мышью или с клавиатуры) */
  {
    opacity: 0.1;
  }


/*  ---------- Features  ---------- */

.feature {
  list-style: none;
}

.feature-item {
  text-align: center;
}

.feature-item h3 {
  font-size: 24px;
  line-height: 30px;
}

/*  ---------- Index columns  ---------- */

.index-columns {
  color: var(--basic-black);
  background-color: var(--basic-white);
  background-position: 0 0;
}

 .index-columns h2 {
  font-size: 45px;
  line-height: 45px;
}

.numbers-45
{
font-size: 45px;
line-height: 64px;
}

.persent-26
{
font-size: 26px;
line-height: 40px;
margin-top: auto;
}

.title /*  ---------- создаём жирный заголовок  ---------- */
{
  font-weight: 700;
}


h1 {
	font-family: 'Roboto Bold', sans-serif;
}
p, i {
	font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.capital  /* ---------- Заглавные буквы  ---------- */
{
text-transform: uppercase;
}

/* Спрятанные заголовки h1 и h2 */
.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	border: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
  }


a[href^="tel:"]
{
  font-size: 16px;
  line-height: 32px;
  text-decoration: none;
  color: #000000; }
